# Node
node_modules/
dist/
*.local

# Go
backend/yamlrss.exe*
*.exe~
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# 本地缓存/临时
.cache/
tmp/

# 构建生成
web/auto-imports.d.ts
web/components.d.ts
